.login_div1, .login_div2 {
   float: none;
   padding: 5px;
   background: linear-gradient(#F08080 0%, #8B0000 100%);
   border: 5px solid salmon;
   border-radius: 15px;
}

body {
   font-family: 'Mali', cursive;
   background-color: cornflowerblue;
   font-size: medium;
}

h1 {
   color: whitesmoke;
}

img {
   width: 255px;
   height: 255px;
}

#output {
   font-weight: bold !important;
}